<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueTest</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>

    <div id="table">
        <div class="container">
            <div class="row">
                <table-panel :data="list">
                    <table-column></table-column>
                    <table-column column_name="№" column_index="id"></table-column>
                    <table-column column_name="Имя" column_index="name"></table-column>
                    <table-column column_name="Возраст" column_index="age"></table-column>
                    <table-column></table-column>
                </table-panel>
            </div>
        </div>
    </div>








    <div id="app">
        <div class="container">
            <div class="row">
                <div class="offset-lg-3 col-lg-6">
                    <text-field ref="name" id="name" label="Имя" placeholder="введите имя"></text-field>
                    <number-field ref="age" id="age" label="Возраст" placeholder="введите возраст"></number-field>
                    <btn-primary text="Добавить" v-on:onclick="added"></btn-primary>
                </div>
            </div>

            <div class="row">
                <div class="offset-lg-3 col-lg-6">
                    <btn-danger text="Удалить выбранные" v-on:onclick="removeSelected"></btn-danger>
                </div>
            </div>

            <div class="row">
                <div class="offset-lg-3 col-lg-6">
                    <table class="table table-striped table-bordered table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">
                                    <input type="checkbox" v-model="allSlected">
                                </th>
                                <th scope="col">№</th>
                                <th scope="col">Имя</th>
                                <th scope="col">Возраст</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                    v-for="item in visibleList"
                                    v-bind:class="{'table-primary': item.isSelected, 'table-success': item.isOneSelect }"
                                    v-on:click="oneSelect(item)">
                                <td><input type="checkbox" v-model="item.isSelected"></td>
                                <td>{{item.id}}</td>
                                <td>{{item.name}}</td>
                                <td>{{item.age}}</td>
                                <td>
                                    <div class="btn btn-danger" v-on:click="removeById(item.id)">Удалить</div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row" v-if="list.length > limitItemForPage">
                <div class="col-lg-12">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-center">
                            <li class="page-item"
                                v-bind:class="{disabled: currectPage == 1}">
                                <div class="page-link"
                                     tabindex="-1"
                                     v-on:click="currectPage--"><<</div>
                            </li>

                            <li class="page-item" v-for="numberPage in countPage()">
                                <div class="page-link" v-on:click="currectPage = numberPage">{{numberPage}}</div>
                            </li>

                            <li class="page-item"
                                v-bind:class="{disabled: currectPage == countPage()}">
                                <div class="page-link" v-on:click="currectPage++">>></div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <script src="js/jquery-3.3.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/vue/components/components.js"></script>
    <script src="js/Vue/vue-app.js"></script>
    <script src="js/message.js"></script>
</body>
</html>